@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sapFontFamily: 'Roboto', 'Segoe UI', Arial, sans-serif;
}

ui5-bar {
  background: #005981;
}

ui5-avatar {
  border: none;
}

ui5-avatar img {
  width: 150px;
  height: 24px;
}

.user-name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  font-family: var(--sapFontFamily);
}

.menu-btn ui5-button {
  background: none;
  border: none;
  color: #fff;
}

.logout-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 12px;
}

.sidebar ui5-side-navigation {
  background: #005981;
  border-radius: 12px;
  height: 100%;
  margin: 12px 0 12px 12px;
}

.production-p{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.production {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.legend {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.bar-2 ui5-bar {
  background: #fff;
  margin: 12px 0;
  border-radius: 12px;
}

.machine-status {
  font-size: 16px;
  font-weight: 700;
  color: #1d2d3e;
}

.legend-text {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 16px 0;
}

.pro {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #30914c;
  width: 176px;
  height: 80px;
  border-radius: 12px;
}

.side-text {
    flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box {
  width: 88px;
  height: 80px;
  background: #30914c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-box ui5-icon {
  color: #fff;
  width: 64px;
  height: 44px;
}

.stand {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #F53232;
  width: 176px;
  height: 80px;
  border-radius: 12px;
}

.icon-box-2 {
  width: 88px;
  height: 80px;
  background: #F53232;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-box-2 ui5-icon {
  color: #fff;
  width: 64px;
  height: 44px;
}

.set {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #E76500;
  width: 176px;
  height: 80px;
  border-radius: 12px;
}

.icon-box-3 {
  width: 88px;
  height: 80px;
  background: #E76500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-box-3 ui5-icon {
  color: #fff;
  width: 64px;
  height: 44px;
}

.machine {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #788FA6;
  width: 176px;
  height: 80px;
  border-radius: 12px;
}

.icon-box-4 {
  width: 88px;
  height: 80px;
  background: #788FA6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-box-4 ui5-icon {
  color: #fff;
  width: 64px;
  height: 44px;
}

.product {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #0070F2;
  width: 176px;
  height: 80px;
  border-radius: 12px;
}

.oee {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.icon-box-5 {
  width: 88px;
  height: 80px;
  background: #0070F2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-box-5 ui5-icon {
  color: #fff;
  width: 64px;
  height: 44px;
}

.select ui5-text {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #556b82;
}

.select ui5-segmented-button {
  padding-left: 10px;
}

/* card */
.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.machine-card{
    border: 1px solid #30914C;
    border-radius: 16px;
}

.card-container {
  display: flex;
  gap: 12px;
  padding: 8px;
  background-color: #F5FAE5;
  transition: all 0.6s;
}

.card-container:hover{
    background-color: #fff;
}

.icon-column {
  background: #30914C;
  border-radius: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.icon-column ui5-icon{
    color: #fff;
}

.card-title{
    display: block;
}

.title-b{
    font-size: 20px;
    font-weight: 700;
    color: #1D2D3E;
}

.title-p{
    font-size: 16px;
    font-weight: 600;
    color: #1D2D3E;
}

.header-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #fff;
    border: 1px solid #AEB7C7;
    border-radius: 8px;
    width: 90px;
    height: 36px;
}

.header-icon ui5-text{
    font-size: 20px;
    font-weight: 700;
}

.header-icon ui5-icon{
    color: #005981;
    width: 20px;
    height: 22px;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.info-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}

.info-row-2{
  padding: 4px 0;
  border-bottom: 1px dashed #ccc;
}

.info-row-wb{
  display: flex;
   justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  gap: 4px;
}

.info-row-2{
    display: flex;
}

.content-icon{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #AEB7C7;
    border-radius: 8px;
    width: 99px;
    height: 30px;
    margin: 0px;
    margin-left: 60px;
}

.content-icon ui5-icon{
    color: #F53232;
}

.info-text-1{
    padding-left: 30px;
}
.info-text-2{
    padding-left: 42px;
}

.info-row span{
    padding-right: 4px;
}

.info-row-wb span{
    padding-right: 4px;
}


.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container-2 {
  display: flex;
  gap: 12px;
  padding: 8px;
  background-color: #F5FAE5;
  transition: all 0.6s;
}

.card-container-2:hover{
    background-color: #fff;
}




/* card-2 */
.mw-m4{
    border: 1px solid #F53232;
    border-radius: 16px;
    transition: all 0.6s;
}

.card-container-3 {
  gap: 12px;
  padding: 0 0 8px 0;
  background-color: #fff;
  transition: all 0.6s;
}

.card-container-3:hover{
    background-color: #FFEAF4;
}

.icon-column-2 ui5-icon{
    color: #fff;
}

.header-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F53232;
  padding: 5px 16px;
}

.icon-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-percent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #F53232;
    padding: 6px 12px;
}

.header-percent ui5-text{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.title-mw-b ui5-text{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.title-mw-p ui5-text{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}